@media (min-width: 1025px) {
  .header__hamburger {
    display: none;
  }

  .header__bottom {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 80px 50px 0;
  }

  .header {
    padding: 0;
  }

  .header__top {
    height: 100px;
    padding: 38px 50px;
  }

  .nav-header {
    display: none;
  }

  .hero__container {
    padding: 160px 78px;
  }

  .hero__header {
    width: 100%;
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__description {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__btn {
    margin-top: 60px;
  }

  .about__description {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .about-detail {
    flex-direction: column;
  }

  .about-detail__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .detail-view {
    min-height: 640px;
  }

  .detail-view__btn {
    padding: 20px 38px;
    font-size: 16px;
    line-height: 20px;
  }

  .detail-cards__item p {
    line-height: 32px;
  }

  /* HOW-WORK */

  .how-work__header {
    margin-bottom: 50px;
  }

  .how-work__nav {
    margin-bottom: 50px;
  }

  .how-work__description {
    padding: 0;
    margin-right: 50px;
  }

  .how-work__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  .FAQ-list__question {
    font-size: 20px;
  }

  .footer {
    margin-top: 80px;
  }

  .footer__container {
    padding-bottom: 50px;
  }

  .footer__item {
    flex: 1 1 calc(100% / 2);
  }

  .footer__item-desc {
    display: none;
  }

  .application-form__btn {
    padding: 19px 25px;
  }
}