@media (max-width: 320px) {
  .container {
    padding: 60px 15px 0;
  }

  .section-header {
    font-size: 24px;
    line-height: 29px;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    min-height: 308px;
    padding: 60px 24px;
  }

  .header__top {
    padding: 24px 15px;
    height: 70px;
  }

  .header__logo img {
    height: 35px;
  }

  .hero__header {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__description {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    margin-right: auto;
    margin-left: auto;
    padding: 12px 30px;
    margin-top: 32px;
    font-size: inherit;
    line-height: inherit;
  }

  .about__description {
    margin-bottom: 15px;
  }

  .about-detail__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 240px;
  }

  .detail-view {
    position: relative;
    width: 100%;
    min-height: 200px;
  }

  .detail-view__description {
    flex-direction: column;
    padding: 0;
    position: absolute;
    bottom: -110%;
    left: 0;
    background: none;
  }

  .detail-view__description p {
    display: inline-block;
    margin: 0 0 10px;
    flex: 1 1 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: var(--black);
  }

  .detail-view__box {
    justify-content: start;
    align-items: center;
  }

  .detail-view__btn {
    min-width: 162px;
    padding: 11px 15px;
    font-size: 12px;
    line-height: 15px;
    color: var(--orange);
  }

  .detail-view__btn:hover,
  .detail-view__btn:focus {
    color: var(--white);
  }

  .detail-cards__item {
    padding: 80px 0 0 0;
    background-size: 25%;
    background-position: 0 15px;
    border: none;
  }

  .detail-cards__item h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .detail-cards__item p {
    font-size: 14px;
    line-height: 28px;
  }

  .how-work__header {
    margin-bottom: 16px;
  }

  .how-work__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .work-nav__item:not(:last-child) {
    margin: 0;
  }

  .how-work__img {
    margin-bottom: 16px;
  }

  .how-work__description h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  .how-work__description p {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .how-work__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .how-work__btn:not(:last-child) {
    margin-right: 10px;
  }

  .how-work__btn.btn {
    flex: 1 1 60%;
    padding: 15px 11px;
    font-size: 12px;
    line-height: 15px;
  }

  .how-work__btn.btn.btn-white {
    flex: 1 1 40%;
    padding: 15px 11px;
    font-size: 12px;
    line-height: 15px;
  }

  .FAQ-list__question {
    font-size: 14px;
    font-weight: 7 00;
    line-height: 24px;
  }

  .FAQ-list__button {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }

  .FAQ-list__button::after,
  .FAQ-list__button::before {
    top: 15px;
    left: 5px;
    width: 20px;
  }

  .footer {
    margin-top: 60px;
  }

  .footer__header-form {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  .footer__container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .application-form__btn-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .application-form__btn {
    margin-right: auto;
    margin-left: auto;
    padding: 12px 24px;
  }

  .footer__item-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    width: 130px;
    height: auto;
  }

  svg.iconbar__icon {
    transform: scale(0.8);
  }

  .iconbar__item:not(:last-child) {
    margin-right: 16px;
  }
}